alabaster==0.7.10
altair==2.1.0
asn1crypto==0.24.0
Babel==2.6.0
backcall==0.1.0
branca==0.3.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
CommonMark==0.5.4
cryptography==2.2.2
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
docutils==0.14
entrypoints==0.2.3
Fiona==1.7.12
folium==0.5.0
GDAL==2.2.4
geographiclib==1.49
geopandas==0.3.0
geopy==1.14.0
idna==2.7
imagesize==1.0.0
ipython==5.6.0
ipython-genutils==0.2.0
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
mkl-fft==1.0.0
mkl-random==1.0.1
munch==2.3.2
networkx==2.1
numpy==1.14.5
numpydoc==0.8.0
osmnx==0.8.1
packaging==17.1
pandas==0.23.1
parso==0.1.1
pickleshare==0.7.4
pockets==0.6.2
prompt-toolkit==1.0.15
psycopg2==2.7.5
pycparser==2.18
Pygments==2.2.0
PyMySQL==0.8.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.3
PySocks==1.6.8
python-dateutil==2.5.0
pytz==2018.4
recommonmark==0.2.0
requests==2.14.2
rope==0.10.7
Rtree==0.8.3
scipy==1.1.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-rtd-theme==0.4.0
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.8
toolz==0.9.0
tornado==5.0.2
traitlets==4.3.2
typing==3.6.4
urllib3==1.14
vincent==0.4.4
wcwidth==0.1.7
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
